{
  "root": true,
  "env": {
    "es2021": true,
    "node": true,
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-len": ["error", { "ignoreStrings": true }],
    "no-trailing-spaces": "error",
    "@typescript-eslint/quotes": ["error", "single"],
    "@typescript-eslint/semi": ["error", "never"],
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": { "delimiter": "none" },
      "singleline": { "delimiter": "comma" }
    }],
    "@typescript-eslint/comma-dangle": ["warn", "always-multiline"]
  }
}